{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenue sur SymBnB !</h1>
            <p class="lead">Cette plateforme permet de mettre en relation les voyageurs avec les propriétaires qui désirent profiter d'opportunités et gagner de l'argent en mettant leurs bien en location.</p>
            <hr class="my-4">
            <p>Vous aussi vous désirez profitez de ces opportunités pour vos prochains déplacements ?</p>
            <p class="lead">
                <a class="btn btn-secondary btn-lg" href="#" role="button">Découvrez nos annonces</a>
            </p>
        </div>

        <h2 class="h1 mt-3 mb-4">Nos appartements stars</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49&euro; / nuit</strong><br>
                        <small>Pas encore noté</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="image de l'appartement" style="height:200px; width:100%; display:block">

                    <div class="card-body">
                        <h3 class="card-title">Appartement de ouf !</h3>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi adipisci exercitationem quia sapiente culpa reiciendis, ducimus incidunt harum commodi quaerat!</p>
                        <a href="#" class="btn btn-success btn-sm">En savoir plus</a>
                    </div>
                </div> 
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49&euro; / nuit</strong><br>
                        <small>Pas encore noté</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="image de l'appartement" style="height:200px; width:100%; display:block">

                    <div class="card-body">
                        <h3 class="card-title">Appartement de ouf !</h3>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi adipisci exercitationem quia sapiente culpa reiciendis, ducimus incidunt harum commodi quaerat!</p>
                        <a href="#" class="btn btn-success btn-sm">En savoir plus</a>
                    </div>
                </div> 
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49&euro; / nuit</strong><br>
                        <small>Pas encore noté</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="image de l'appartement" style="height:200px; width:100%; display:block">

                    <div class="card-body">
                        <h3 class="card-title">Appartement de ouf !</h3>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi adipisci exercitationem quia sapiente culpa reiciendis, ducimus incidunt harum commodi quaerat!</p>
                        <a href="#" class="btn btn-success btn-sm">En savoir plus</a>
                    </div>
                </div> 
            </div>
        </div>

        <h2 class="h1 mt-3 mb-4">Nos propriétaires stars</h2>

        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Guillaume Sabin</h4>

                        <hr>

                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Avatar de la personne" class="float-left mr-3">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, aperiam?</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Guillaume Sabin</h4>

                        <hr>

                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Avatar de la personne" class="float-left mr-3">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, aperiam?</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
{% endblock %}
        